body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: 'Arial';
  font-size: 42px;
  color:rgb(253, 255, 254);
  background-color: rgb(85, 85, 85);  
  text-shadow: #4588fdc7;
  text-align: center;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  background: #828282c7;
  padding: 30px;
  height: 100vh;
}

.todo-list{
  background:rgb(75, 92, 81);
  border-radius: 4px;
  padding: 5px;
  max-width: 600px;
}
.todo-list:hover{
  background: rgb(89, 109, 96);
  
  border-width: 2px;
  font-style: italic;
}

.todo{
  background: #fff;
  box-shadow: 1px 1px 1px rgb(74, 74, 74);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 9px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  
}

.input{
  width: 100%;
  box-sizing: border-box;
  border: 2;
  border-radius: 4px;
  box-shadow:#bebfbfc7;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}
